<div class="container">
    <h2 class="mt-4 mb-2">
        <a routerLink="/" class="text-dark"><i class="bi bi-arrow-return-left icon-custom"></i></a>
        Weather Forecast
      </h2>
    <div class="card">
      <div class="card-body">
        <canvas id="weatherChart" width="800" height="340"></canvas>
      </div>
      <div class="card-footer">
        <p><strong>Temperature:</strong> Shows the temperature forecast.</p>
      </div>
    </div>
  </div>