body, html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f3f5;
}

.weather-options {
  background-color: #f8ded6; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather-options h2 {
  color: #444; 
  text-align: center;
  margin-bottom: 20px;
}

.weather-options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.weather-options ul li {
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.weather-options ul li:hover {
  background-color: #e6b8af; 
  border-radius: 5px;
  color: #444; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}