<div class="container">
    <div class="weather-options">
        <h2>Weather Forecasting Options:</h2>
        <ul>
            <li (click)="navigateToWeather('LWX')"> <i class="bi bi-graph-up"></i> District of Columbia Forecast (LWX)
            </li>
            <li (click)="navigateToWeather('TOP')"> <i class="bi bi-graph-up"></i> Kansas Forecast (TOP)</li>
        </ul>
    </div>
</div>

<footer>
    <p>by: Jean Loaiza</p>
</footer>